body {
    font-family: sans-serif;
  }

  header {
    background-color: DodgerBlue ;
    border-color: black;
    border: 6px;
    padding: 15px;
  }



  .blockp{

padding-left: 25vw;
padding-right : 25vw;

  }