body {
    font-family: sans-serif;
  }

  header {
    background-color: rgb(255, 94, 0) ;
    border-color: black;
    border: 6px;
    padding: 15px;
  }
  
  .alignleft {
    position: static;
    float: left;
  }
  .alignright {
    position: static;
    float: right;
  }